bin/
obj/
.vs/
*.user
unity/Kut/Library/
unity/Kut/Temp/
unity/Kut/Logs/
unity/Kut/UserSettings/
unity/Kut/Assets/Plugins/Kut.Core.pdb
unity/Kut/Assets/_Project/Scripts/Kut.Core.pdb
kut_save.json
.dotnet_home/
